@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --color-primary-blue: #0747a6;
  --color-secondary-blue: #0065ff;
  --color-light-blue: #b8e6fe;
  --color-primary-white: #f5f5f5;
  --color-primary-black: #282828;
  --color-primary-green: #00cc00;
  --color-primary-red: #ff3333;
  --color-primary-yellow: oklch(85.2% 0.199 91.936);
}
/* Untuk semua elemen, termasuk body dan html */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0px; /* Menghilangkan track & thumb di Webkit */
  background: transparent; /* Optional: buat transparan */
}

body {
  font-family: var(--font-poppins);
  overflow-x: hidden;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  background-color: white;
}

button {
  cursor: pointer;
}

input[type="range"] {
  width: 100%;
  height: 6px;
  background: #3b82f6; /* track biru */
  border-radius: 999px;
  outline: none;
}

/* Track Firefox */
input[type="range"]::-moz-range-track {
  background: #3b82f6;
  height: 6px;
  border-radius: 999px;
}

/* Thumb Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #3b82f6;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transform: translateY(0%); /* thumb tepat di tengah track */
}

/* Thumb Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #3b82f6;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(
    --color-primary-black
  ) !important; /* tetap hitam */
  transition: background-color 5000s ease-in-out 0s;
}

/* for modal */
.modal-open {
  overflow: hidden;
}

/* animation slide up bounce*/
@keyframes slide-up-bounce {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  60% {
    transform: translateY(-15px);
    opacity: 1;
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-up-bounce {
  animation: slide-up-bounce 0.8s ease-out forwards;
}

/* animation slide up*/
@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.8s ease-out forwards;
}

/* animation from hidden*/
@keyframes slide-from-hidden {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
  }
}

/* 5 seconds */
.animate-from-hidden-5s {
  animation: slide-from-hidden 0.5s ease-out forwards;
}

/* 8 seconds */
.animate-from-hidden-8s {
  animation: slide-from-hidden 0.8s ease-out forwards;
}

/* animate hidden */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

/* animate slide up */
@keyframes slide-up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

/* swal index */
.swal-z {
  z-index: 9999 !important;
}
